* {
  box-sizing: border-box;
}

.cell {
  background-color: white;
  width: 86px;
}

.selected-cell {
  background-color: pink;
  width: 86px;
}

.board-background {
  background-color: black;
  width: 800px;
  height: 800px;
  padding: 5px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.box-row {
  height: 86px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.board-row {
  height: 260px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.box {
  width: 260px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.numberpad-cell {
  width: 120px;
  text-align: center;
  line-height: 120px;
  font-size: 40px;
}

.numberpad-row {
  height: 120px;
  display: flex;
  flex-direction: row;
}

.numberpad-delete {
  height: 120px;
  text-align: center;
  line-height: 120px;
  font-size: 40px;
}

.numberpad-background {
  width: 360px;
  height: 480px;
  background-color: pink;
  display: flex;
  flex-direction: column;
}